body{
    background-color: rgb(186, 232, 232);
}
h1{ 
    color: black;
    font-style: italic;
}
.primeira{
    width:10%;
}
.segundo{
    width:10%;
}
.terceiro{
    width:10%;
}
.quarto{
    width:10%;
}
.quinto{
    width:10%;
}

